.personal-account-services {
    padding: 0;
}

.services_cardss {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.servies__card {
    margin-right: 100px;
    margin-bottom: 30px;
}

h1 {
    font-size: 36px;
    padding-bottom: 50px;
}