
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.title {
  font-family: 'Tondo Corp';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.05em;
    color: #000000;
}