@mixin title {
  font-family: 'Tondo Corp';
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.05em;
  color: #000000;
}

@import url(//db.onlinewebfonts.com/c/c3c67593cc9c0a480f04c05092de12f4?family=Tondo+Corp);
body {
  margin: 0;
  font-family: "Tondo Corp";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
