@import url(//db.onlinewebfonts.com/c/c3c67593cc9c0a480f04c05092de12f4?family=Tondo+Corp);
body {
  margin: 0;
  font-family: "Tondo Corp";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
