.about-us {
    padding: 30px 110px 50px;
}

.about-us__titile {
    font-family: 'Tondo Corp';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.05em;
    color: #000000;
}
.about-us__text {
    font-family: 'Tondo Corp';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.05em;
    width: 48%;
}
.about-us__info {
    display: flex;
    justify-content: space-between;
}
.about-us__imgae {

    width: 48%;
    background-size: 100%;
    background-image: url("../../../public/img/about-us-image.png");
    background-repeat: no-repeat;
    border-radius: 10px;
}
