.personal-info {
    font-weight: lighter;
    font-size: 25px;
}

.personal__title {
    font-size: 30px;
    font-weight: bold;
}

.admin_button {
    background-color: #1381EA;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
}
a {
    color: white;
}