.header{
    padding: 23px 110px 0px 110px;
}


.header__top{
    display: flex;
    justify-content: space-between;
}


.header__bottom {

    .header__bottom__navigation {
        display: flex;
        justify-content: flex-end;
        font-weight: 300;
        font-size: 22px;
        line-height: 30px;
    }
    .header__bottom__navigation__list {
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        li {
            padding-right: 60px;
            align-self: center;
        }
}
}

.header__top__left {
    text-align: start;
}
button {
    outline: none;
    font-family: "Tondo Corp";
    border: none;
    background-color: white;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.05em;
    cursor: pointer;

}
#nav_button {
    background:
            linear-gradient(to right, #FFF, #FFF),
            linear-gradient(to right, #1381EA, #1381EA);
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

#nav_button:hover {
    background-size: 0 0.1em, 100% 0.1em;
}
#header_lk {
    border: 1px solid #000000;
    padding: 10px 35px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

#header_lk:hover {
    background-color: #1381EA;
}
a {
    text-decoration: none;
    color: black;
}

input {
    width: 386px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    font-family: 'Tondo Corp';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.05em;
    padding: 8px 0px 8px 20px;
}

.sign-in__modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2 {
        color: black;
    }
}

#sign-in-form__button {
    background-color: #1381EA;
    color: white;
    padding: 7px 19px;
    border-radius: 10px;
    border: none;
    width: 412px;
    height: 45px;
    font-family: 'Tondo Corp';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 0.05em;
    cursor: pointer;
    margin-right: 29px;

}

.sign-in-form__number {
    display: flex;
    justify-content: center;
    align-items: center;
}